{% load static %}
<!doctype html>
<html>
  <head>
    <title> Adverto.ai </title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bouncing_dots.css' %}"/>


   
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>



<script>
setTimeout(function() {
    $('#spinner5').hide();
}, 2000);

 

setTimeout(function() {
    $('#mytext5').show();

}, 2000);
</script>

<style>
.jumbotron {
  background-color: dimgray;
}

.row_margin{
  margin-top: 10px;
  margin-bottom: 10px
}
</style>


  </head>
  <body>

    {% include 'nav.html' %}

    <div class="container">


      <div class="jumbotron mt-2">



  <div class="row row_margin">
           <div class= "d-flex justify-content-start">
            
                 <div   class="p-2 col-lg-3">
                      <div  id= "spinner5" class="spinner">

                              <div class="bounce1"></div>
                              <div class="bounce2"></div>
                              <div class="bounce3"></div>
                      
                      </div>
                  </div>
                      
                <div id= "mytext5" class="p-2 col-lg-4" style="display:none;">
                    {% block content %}
                    {% endblock %}   
                </div>

        </div>

    </div>
       



      </div>

    </div>

    
    
  </body>
</html>