{% load static %}
<!doctype html>
<html>
  <head>
    <title> Adverto AI </title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bouncing_dots.css' %}"/>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}">

   
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

 <style type="text/css">
   #mytext2 {
  font-size: 12px;
  font-weight:bold;
  font-family: verdana;
}


 #mytext2 h5{
  font-size: 16px;
  font-weight:bold;
  font-family: verdana;
  margin-bottom: 30px
}

.jumbotron {
  background-color: #F6F6F6;
  margin-bottom: 5px;
}

.footer {
  border-radius: 5px;
  background-color: #fff;
  text-align:center;
  font-size: 12px;
  font-style: Helvetica;
}

 </style>
  </head>
  <body>

    {% include 'nav.html' %}

    <div class="container">


      <div class="jumbotron mt-2">

   

  <div class="row">
           <div class= "d-flex justify-content-start">
                  
                 
                <div   class="p-2 col-lg-3">
                           
                </div>
                      
                <div id= "mytext2" class="p-2 col-lg-4">
                  
                   <h5> Frequently asked questions</h5>
                   <p></p>
                   <p>
                    What is Artificial Intelligence?
                   </p> 
                   <p>
                    What language are you written in?
                   </p>
                   <p>What is a chat robot?
                   </p>
                   <p>
                     Four + 2
                   </p> 
                   <p>
                    Can you breathe?
                   </p> 
                   <p>
                      Robots are stupid
                   </p> 
                   <p>
                      2 * 1000
                   </p> 
                   <p>
                    What is your business
                    </p>
                   <p>
                   What is your favorite programming language?
                   </p>
                   
                   <p>
                   What operating systems
                   </p>

                    <p>
                  What is it like being a computer?
                   </p>

                    <p>
                   When will you walk?
                   </p>

                    <p>
                  You do not make any sense?
                   </p>

                    <p>
                  Can you malfunction?
                   </p>


                    
                    
                </div>

        </div>


    </div>

   



      </div>
       {% include 'footer.html' %}

    </div>

    
    
  </body>
</html>