{% load static %}
<!doctype html>
<html>
  <head>
    <title> Adverto AI </title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bouncing_dots.css' %}"/>


   
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

 <style type="text/css">
   #mytext2 {
  font-size: 12px;
  font-weight:bold;
  font-family: verdana;
}
 </style>
  </head>
  <body>

    {% include 'nav.html' %}

    <div class="container">


      <div class="jumbotron mt-2">

   

  <div class="row">
           <div class= "d-flex justify-content-start">
                  
                 
                <div   class="p-2 col-lg-3">
                           
                </div>
                      
                <div id= "mytext2" class="p-2 col-lg-4">
                  
                  <p><strong>Sample questions</strong></p>
                   <p></p>
                   <p>
                    What is Artificial Intelligence?
                   </p> 
                   <p>
                    What language are you written in?
                   </p>
                   <p>What is a chat robot?
                   </p>
                   <p>
                     Four + 2
                   </p> 
                   <p>
                    Can you breathe?
                   </p> 
                   <p>
                      Robots are stupid
                   </p> 
                   <p>
                      2 * 1000
                   </p> 
                   <p>
                    What is your business
                    </p>
                   <p>
                   What is your favorite programming language
                   </p>
                   <p>
                   What operating systems
                   </p>

                    
                    
                </div>

        </div>

    </div>

   



      </div>

    </div>

    
    
  </body>
</html>