{% load static %}

<nav class="navbar navbar-dark bg-inverse navbar-full">

       <ul class="nav navbar-nav float-xs-right">
          <li class="nav-item">
             <a class="nav-link" href="{% url 'model_form_upload' %}">Ad with us</a>
          </li>
          

          <li class="nav-item">
             <a class="nav-link" href="{% url 'email' %}">Contact us</a>
          </li>
          
        </ul>

        <ul class="nav navbar-nav float-xs-left">
        <li class="nav-item">
           <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/chatterbot.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Refresh">
          </a>
        </li>

        </ul>

  
</nav>
